<section>
  <h2>
    Our
    <load
      ="partials_common/highlighted_text/highlighted_text.html"
      text="Lessons"
    />
  </h2>

  <ul>
    <load
      ="partials/our_lessons/lesson_card.html"
      title="Practice"
      price="40$ / month"
      description="This plan offers an opportunity for learners to engage in collaborative language exercises and group activities, boosting their conversational skills and confidence in using English."
    />
    <load
      ="partials/our_lessons/lesson_card.html"
      title="Standard"
      price="70$ / month"
      description="Our standard package provides a balanced learning approach that covers all key areas of English language - reading, writing, listening, and speaking.  It is a set of basic knowledge and skills."
    />
    <load
      ="partials/our_lessons/lesson_card.html"
      title="Individual"
      price="99$ / month"
      description="We offer a tailored learning experience with individualized instruction that focuses on a learner's specific language goals and challenges, offering personal feedback."
    />
  </ul>
</section>
