<section class="section">
  <div class="container">
    <h2 class="section-title">
      Our
      <load ="partials/highlighted_text.html" text="Lessons" />
    </h2>

    <p class="section-desc">
      Our lessons are carefully structured and interactive, designed to promote
      rapid language acquisition through practical tasks and real-world
      scenarios
    </p>

    <ul class="lesson-cards">
      <load
        ="partials/our_lessons/lesson_card.html"
        class=""
        title="Practice"
        price="40$ / month"
        description="This plan offers an opportunity for learners to engage in collaborative language exercises and group activities, boosting their conversational skills and confidence in using English."
      />
      <load
        ="partials/our_lessons/lesson_card.html"
        class="lesson-card-selected"
        title="Standard"
        price="70$ / month"
        description="Our standard package provides a balanced
      learning approach that covers all key areas of English language - reading,
      writing, listening, and speaking. It is a set of basic knowledge and
      skills."
      />
      <load
        ="partials/our_lessons/lesson_card.html"
        class=""
        title="Individual"
        price="99$ / month"
        description="We offer a tailored learning experience with individualized instruction that focuses on a learner's specific language goals and challenges, offering personal feedback."
      />
    </ul>
  </div>
</section>
