<section class="section">
  <div class="container">
    <h2 class="section-title">
      About
      <load ="partials/highlighted_text.html" text="Us" />
    </h2>

    <p class="section-desc">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>

    <ul>
      <load
        ="partials/about_us/about_card.html"
        number="1"
        text="Expert, innovative teaching staff"
      />
      <load
        ="partials/about_us/about_card.html"
        number="2"
        text="Wide range of course levels and options"
      />
      <load
        ="partials/about_us/about_card.html"
        number="3"
        text="Multicultural learning environment"
      />
      <load
        ="partials/about_us/about_card.html"
        number="4"
        text="Comprehensive language support services"
      />
    </ul>
  </div>
</section>
