<section id="aboutUs" class="section">
  <div class="container">
    <h2 class="section-title">
      About
      <load ="partials/highlighted_text.html" text="Us" />
    </h2>
    <p class="section-desc">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>

    <div class="about-wrapper">
      <ol class="about-list">
        <load
        ="partials/about_us/about_card.html"
        text="Expert, innovative teaching staff"
        />
        <load
        ="partials/about_us/about_card.html"
        text="Wide range of course levels and options"
        />
        <load
        ="partials/about_us/about_card.html"
        text="Multicultural learning environment"
        />
        <load
        ="partials/about_us/about_card.html"
        text="Comprehensive language support services"
        />
      </ol>
      <div class="about-img-wrapper">
        <img
          srcset="./img/memoji-about-1x.png 1x, ./img/memoji-about-2x.png 2x"
          src="./img/memoji-about-1x.png"
          alt="Memoji"
          class="about-img"
          width="255"
        />
      </div>
    </div>
  </div>
</section>
