<section>
  <h2>
    About
    <load ="partials_common/highlighted_text/highlighted_text.html" text="Us" />
  </h2>

  <ul>
    <load ="partials/about_us/about_card.html" number="1" text="Expert, innovative teaching staff" />
    <load ="partials/about_us/about_card.html" number="2" text="Wide range of course levels and options" />
    <load ="partials/about_us/about_card.html" number="3" text="Multicultural learning environment" />
    <load ="partials/about_us/about_card.html" number="4" text="Comprehensive language support services" />
  </ul>
</section>
