<section class="section">
  <div class="container">
    <h2>
      What our
      <load
        ="partials/highlighted_text.html"
        text="students"
      />
      say
    </h2>

    <ul>
      <load
        ="partials/our_students/student_say_card.html"
        avatar="avatar"
        name="name"
        position="position"
        text="text"
      />
      <load
        ="partials/our_students/student_say_card.html"
        avatar="avatar"
        name="name"
        position="position"
        text="text"
      />
      <load
        ="partials/our_students/student_say_card.html"
        avatar="avatar"
        name="name"
        position="position"
        text="text"
      />
    </ul>
  </div>
</section>
