<section class="section">
  <div class="container our-students-container">
    <h2 class="section-title">
      What our
      <load ="partials/highlighted_text.html" text="students" />
      say
    </h2>

    <p class="section-desc">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact
    </p>

    <ul class="our-students-list">
      <load
        ="partials/our_students/student_say_card.html"
        avatar="./img/student-anna-1x.png 1x, ./img/student-anna-2x.png 2x"
        name="Anna"
        position="Student"
        text="My experience at the language school has been nothing short of amazing. The teachers are dedicated and the learning environment is stimulating. I feel more confident in my English skills."
      />
      <load
        ="partials/our_students/student_say_card.html"
        avatar="./img/student-mykhailo-1x.png 1x, ./img/student-mykhailo-2x.png 2x"
        name="Mykhailo"
        position="Student"
        text="The school offers a great balance of language theory and practical exercises. The personalized feedback from the teachers has helped me improve my weak areas."
      />
      <load
        ="partials/our_students/student_say_card.html"
        avatar="./img/student-victoria-1x.png 1x, ./img/student-victoria-2x.png 2x"
        name="Victoria"
        position="Student"
        text="I love the dynamic and interactive teaching methods used here. It's a great place to learn English in a fun and effective way. I have definitely seen a big improvement in my language skills."
      />
    </ul>
  </div>
</section>
