<section class="section">
  <div class="container">
    <h2 class="section-title">
      What our
      <load ="partials/highlighted_text.html" text="students" />
      say
    </h2>

    <p class="section-desc">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact
    </p>

    <ul>
      <load
        ="partials/our_students/student_say_card.html"
        avatar="avatar"
        name="name"
        position="position"
        text="text"
      />
      <load
        ="partials/our_students/student_say_card.html"
        avatar="avatar"
        name="name"
        position="position"
        text="text"
      />
      <load
        ="partials/our_students/student_say_card.html"
        avatar="avatar"
        name="name"
        position="position"
        text="text"
      />
    </ul>
  </div>
</section>
