<footer class="footer" id="footer">
  <section class="section-container">
    <div class="footer-container">

      <div class="footer-logo">
        <a class="footer-logo-link" href="./index.html">english<span class="footer-logo-part">excellence</span>.</a>
      

        <address class="footer-address">
          <ul class="footer-address-list">
              <li class="footer-address-phone">
                <p class="footer-address-item-name">Phone number:</p>
                  <a class="footer-address-item-link" href="tel:+380(68)443-94-26">+380 (68) 443-94-26</a>
              </li>
              <li class="footer-address-address">
                <p class="footer-address-item-name">Address:</p>
                  <a class="footer-address-item-link" 
                  href="https://www.google.com/maps/place/%D0%BF%D1%80%D0%BE%D1%81%D0%BF.+%D0%9D%D0%B8%D0%BA%D0%BE%D0%BB%D0%B0%D1%8F+%D0%91%D0%B0%D0%B6%D0%B0%D0%BD%D0%B0,+32,+%D0%9A%D0%B8%D0%B5%D0%B2,+02000/@50.3984039,30.6486836,17z/data=!3m1!4b1!4m6!3m5!1s0x40d4c450e050c6e9:0x5905a2a0d61a37a0!8m2!3d50.3984039!4d30.6486836!16s%2Fg%2F1tq6hldn?entry=ttu"
                  target="_blank">32aM. Bazhana ave</a>
              </li>
          </ul>
        </address>
      </div>

    <ul class="footer-nav-list">
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="#">About Us</a>
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="#">Our Lessons</a>
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="#">Teachers</a>
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="#">Reviews</a>
      </li>
      <li class="footer-nav-item">
        <a class="footer-nav-link" href="#">Contact Us</a>
      </li>
    </ul>
    

    <load src="/partials/social-icons-set.html" />
      
    </div>
    <div class="vector"></div>
    <div class="copyright">
      <div class="copyright-text">
        ©2023 English Excellence. All rights reserved.
      </div>
        <ul class="copyright-legal">
          <li class="copyright-legal-item">
            Privacy Policy
          </li>
          <li class="copyright-legal-item">
            Terms of Service
          </li>
        </ul>
      </div>
    </div>
  </section>
</footer>
