<section class="section">
  <div class="container hero-container">
    <div class="hero-section hero-wrapper">
      <h1 class="hero-text">
        Discover the joy of learning <span class="accent">English</span> with
        us!
      </h1>
      <div class="hero-button">
        <a class="hero-button-text" href="#application-form"
          >Leave an application</a
        >
      </div>
      <div class="hero-scroll-button">
        <a class="hero-scroll-button-link" href="#footer">
          <svg class="svg-icon" width="12px" height="7px">
            <use href="./img/icons.svg#icon-hero-scroll-icon"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
