<div class="menu-backdrop js-menu-container" id="mobile-menu">
  <div class="menu-container">
    <button class="btn-close menu-toggle js-close-menu" role="button">
      <svg class="icon">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="menu-container-body">
      inner
      <!-- <load src="/partials/nav-link-group.html" />
      <address>
        <load src="/partials/nav-link-address.html" />
        <load src="/partials/social-icons-set.html" />
      </address> -->
    </div>
  </div>
</div>
