<ul class="nav-link-group">
  <li class="nav-link-item">
    <a class="nav-link" href="#aboutUs"> About us </a>
  </li>
  <li class="nav-link-item">
    <a class="nav-link" href="#ourLessons"> Our lessons </a>
  </li>
  <li class="nav-link-item">
    <a class="nav-link" href="#ourTeachers"> Teachers </a>
  </li>
  <li class="nav-link-item">
    <a class="nav-link" href="#ourStudents"> Reviews </a>
  </li>
  <li class="nav-link-item">
    <a class="nav-link" href="#applicationForm"> Contact us </a>
  </li>
</ul>
