<section class="section">
  <div class="container">
    <h2 class="packages-title visually-hidden">Packages</h2>

    <div class="packages">
      <p class="packages-description">
        Master the
        <span class="packages-description-highlight">Language</span> with Our
        English Package!
      </p>

      <div class="packages-card-wrapper">
        <div class="packages-card">
          <p class="packages-card-title">Power of English</p>

          <ul class="packages-card-list">
            <li class="packages-card-list-item">
              Dive into captivating lessons designed to stimulate your
              curiosity.

              <div class="packages-check-icon">
                <svg width="10" height="8">
                  <use href="../img/icons.svg#icon-check"></use>
                </svg>
              </div>
            </li>

            <li class="packages-card-list-item">
              Learn in a nurturing setting where every student's progress
              matters.

              <div class="packages-check-icon">
                <svg width="10" height="8">
                  <use href="../img/icons.svg#icon-check"></use>
                </svg>
              </div>
            </li>

            <li class="packages-card-list-item">
              Experience the satisfaction of real progress as your language
              skills and confidence grow with every session.

              <div class="packages-check-icon">
                <svg width="10" height="8">
                  <use href="../img/icons.svg#icon-check"></use>
                </svg>
              </div>
            </li>
          </ul>

          <load
            ="partials/button.html"
            title="Leave an application"
            className="packages-button"
          />

          <div class="books"></div>
        </div>
      </div>
    </div>
  </div>
</section>
