<ul class="social-icons-set">
  <li class="social-icons-item">
    <a
      href="https://www.facebook.com/goITclub/"
      target="_blank"
      rel="noopener noreferrer"
      class="icon-link"
    >
      <svg class="icon">
        <use href="./img/icons.svg#icon-facebook"></use>
      </svg>
    </a>
  </li>
  <li class="social-icons-item">
    <a
      href="https://www.instagram.com/goitclub/"
      target="_blank"
      rel="noopener noreferrer"
      class="icon-link"
    >
      <svg class="icon">
        <use href="./img/icons.svg#icon-instagram"></use>
      </svg>
    </a>
  </li>
  <li class="social-icons-item">
    <a
      href="https://www.youtube.com/c/GoIT"
      target="_blank"
      rel="noopener noreferrer"
      class="icon-link"
    >
      <svg class="icon">
        <use href="./img/icons.svg#icon-youtube"></use>
      </svg>
    </a>
  </li>
</ul>
