.button {
  border: none;
  background-color: var(--primary-color);
  border-radius: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 14px 87px;

  color: var(--bg-color);
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
}

.button:hover,
.button:focus {
  background-color: var(--primary-color-dark);
}

@media only screen and (min-width: 768px) {
  .button {
    font-size: 18px;
    padding: 16px 64px;
    line-height: 1.55;
  }
}

.scroll-top-button {
  display: inline-flex;
  padding: 13px;
  position: fixed;
  right: 18px;
  bottom: 18px;
  transform: rotate(180deg);
  border-radius: 50%;
  background-color: var(--primary-color);
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: opacity, visibility var(--transition-base), 0.25s ease-in-out 0s;
}

.scroll-top-button.visible {
  visibility: visible;
  opacity: 1;
  z-index: 9;
  transition: opacity, visibility, background-color var(--transition-base),
    0.25s ease-in-out 0s;
}

.scroll-top-button .icon {
  fill: #fff;
  width: 12px;
  height: 12px;
}

.scroll-top-button.visible:hover {
  background-color: var(--primary-color-dark);
}
