
  
.footer {
      display: block;
      background-color: var(--primary-text-color);
      margin-right: auto;
      margin-left: auto;
  }
  
.footer-container {
      
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-self: flex-end;

  }

.footer-logo {
    margin-top: 40px;
  }
  
.footer-logo-link {

      font-family: var(--primary-font);
      font-weight: 700;
      font-size: 20px;
      color: var(--bg-color);
      text-decoration: none;
      text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  
.footer-logo-part {
      color: var(--primary-color);
  }
  
.footer-address-item-name {
      font-style: normal;
      font-family: var(--primary-font);
      font-weight: 400;
      font-size: 14px;
      line-height: 129%;
      letter-spacing: -0.02em;
      color: rgba(255, 255, 255, 0.6);
  }
  
.footer-address-item-link {
      text-decoration: none;
      font-style: normal;
      font-family: var(--primary-font);
      font-weight: 600;
      font-size: 14px;
      line-height: 129%;
      color: var(--bg-color);
  }
  
.footer-address-list {
      padding: 0;
      margin-top: 40px;
  }
  
.footer-address-phone {
      align-items: center;
  }
  
.footer-address-address {
      margin-top: 16px;
  }
  
.footer-nav {
    display: flex;
    margin-top: 40px;
  }
  
.footer-nav-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
  }
  

.footer .social-icons-set {
    margin-top: 40px;
}

.footer-text {
    margin-left: 20px;
    flex-direction: column;
    display: flex;
  }
  
.legal-list {
    display: flex;
    margin-top: 14px;
    gap: 18px;
  }
  
.footer-nav-link {
      font-family: var(--primary-font);
      text-decoration: none;
      font-weight: 600;
      font-size: 14px;
      line-height: 129%;
      color: var(--bg-color);
  }
  

.footer-vector {
    margin-top: 40px;
    width: 2px; 
    height: 2px;
}

.vector-icon {
    fill: #D9D9D9;
    stroke-width: 1px;
    stroke: rgba(255, 255, 255, 0.1);
}

.footer-copyright {
    margin-top: 20px;
}


.footer-copyright,
.legal-link {
      font-family: var(--primary-font);
      font-weight: 400;
      font-size: 14px;
      line-height: 1.2;
      letter-spacing: -0.02em;
      color: rgba(255, 255, 255, 0.6);
      opacity: 0.9;
  }
  

@media (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        max-width: 768px;
        margin: 0 auto; 
        padding: 0 32px; 
    }

    .footer-logo {
        width: 182px;
        height: 27px;
        margin-top: 32px;

    }

    .footer-nav {
        margin-top: 32px;

    }

    .footer-address-list {
        padding: 0;
        margin-top: 32px;
    }

    .footer .social-icons-set {
        margin-top: 32px;

    }

    .footer-vector {
        width: 1024px;
        height: 2px;
        margin-top: 110px;
    }


    .footer-copyright {
        margin-left: 128px;
        margin-bottom: 23px;
    }

    .legal-list {
        width: 205px;
        height: 18px;
        margin-left: 218px;
    }

}


@media (min-width: 1280px) {
    .footer-container {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 120px;
    }

    .footer-logo {
        margin-top: 64px;
    }

    .footer-nav {
        margin-top: 64px;
        margin-left: 300px;

    }

    .footer .social-icons-set {
        margin-top: 64px;
        margin-left: 300px;
    }

    .footer-vector {
        width: 1024px;
        height: 2px;
        margin-top: 64px;
    }
}