/* social-icons */
.social-icons-set {
  display: flex;
  column-gap: 12px;
}

.social-icons-set .social-icons-item {
  display: flex;
  align-items: center;
}

.social-icons-set .icon-link {
  border-radius: 10px;
  display: inline-flex;
  border: 1px solid rgba(18, 20, 23, 0.1);
  padding: 7px;
  transition: border-color var(--transition-base);
}

.social-icons-set .icon {
  width: 28px;
  height: 28px;
  transition: fill var(--transition-base);
}

.social-icons-set .icon-link:hover {
  border: 1px solid rgba(77, 194, 116, 0.1);
  opacity: 0.8;
}

.social-icons-set .icon-link:hover .icon {
  fill: var(--primary-color);
}

/* header */
.header {
  position: sticky;
  top: 0;
  left: 0;
  height: 67px;
  background-color: var(--bg-color);
  z-index: 2;
}

.header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 138px;
  border: 0;
}

.header-nav {
  display: flex;
  gap: 138px;
  flex-grow: 1;
  justify-content: space-between;
}

.header .logo {
  font-weight: 700;
  font-size: 20px;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
}

.header .logo > .logo-suffix {
  color: var(--primary-color);
}

.header .nav-link-group {
  display: none;
}

.header .nav-link-item {
  height: 100%;
  display: flex;
  align-items: center;
}

.header .nav-link-item:hover {
  cursor: pointer;
}

.header .nav-link {
  font-family: var(--primary-font);
  line-height: 1.28571;
  color: var(--primary-text-color);
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
}

.header .nav-link-item .nav-link::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  background-color: var(--primary-color);
  height: 2px;
  width: 0px;
  transition: width var(--transition-base);
}

.header .nav-link-item:hover .nav-link::after {
  width: 37px;
}

.header .menu-toggle {
  border: none;
  background: none;
  line-height: 1;
  cursor: pointer;
}

.header .menu-toggle .icon {
  stroke: var(--primary-text-color);
  width: 32px;
  height: 32px;
}

.header .social-icons-set {
  display: none;
}

.header .social-icons-set .icon {
  fill: var(--primary-text-color);
}

@media (min-width: 768px) {
  .header {
    position: relative;
    height: 68px;
  }

  .header .menu-toggle .icon {
    stroke: black;
    width: 32px;
    height: 32px;
  }

  .header .menu-toggle .icon {
    width: 40px;
    height: 28px;
  }
}

@media (min-width: 1280px) {
  .header {
    height: 84px;
  }
  .header-nav {
    display: flex;
  }

  .header .nav-link-group {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .header .menu-toggle {
    display: none;
  }

  .header .nav-link {
    font-size: 14px;
  }

  .header .social-icons-set {
    display: flex;
  }
}
