:root {
  --primary-font: 'Monrope', sans-serif;

  --bg-color: #ffffff;
  --primary-text-color: #121417;
  --primary-color: #4dc274;
  --primary-color-dark: #38ae5f;
  --primary-light-color: #d4fde1;
  --primary-gradient: linear-gradient(84.6deg, #4dc274 2.25%, #bee8cc 131.25%);
  --primary-container-color: #f3f5f6;
}

body {
  font-family: var(--primary-font);
  background-color: var(--bg-color);
  color: var(--primary-text-color);
}

.section {
}

.container {
  max-width: 375px;
  margin: 80px auto;
  padding: 0px 20px;
}

.section-title {
  font-size: 40px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.64px;
  padding-bottom: 16px;
}

.section-desc {
  color: rgba(18, 20, 23, 0.5);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  margin: 0px auto;
  width: 100%;
  padding-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 100px auto;
    padding: 0px 32px;
  }

  .section-title {
    letter-spacing: -0.8px;
  }

  .section-desc {
    font-size: 18px;
    line-height: 1.65;
    padding: 0px, 157px;
    width: 95%;
    padding-bottom: 64px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    margin: 150px auto;
  }

  .section-title {
    letter-spacing: -0.8px;
  }

  .section-desc {
    font-size: 18px;
    line-height: 1.65;
    width: 65%;
    padding-bottom: 64px;
  }
}
