:root {
  --primary-font: 'Monrope', sans-serif;

  --bg-color: #ffffff;
  --primary-text-color: #121417;
  --primary-color: #4dc274;
  --primary-light-color: #d4fde1;
  --primary-gradient: linear-gradient(84.6deg, #4dc274 2.25%, #bee8cc 131.25%);
  --primary-container-color: #f3f5f6;
  --transition-base: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--primary-font);
  background-color: var(--bg-color);
  color: var(--primary-text-color);
}

.section {
}

.container {
  max-width: 375px;
  margin: 80px auto;
  padding: 0px 20px;
  border: 1px solid black;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 100px auto;
    padding: 0px 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    margin: 150px auto;
    padding: 0px 128px;
  }
}

.section-title {
  font-size: 40px;
}

/* social-icons */
.social-icons-set {
  display: flex;
  column-gap: 12px;
}

.social-icons-set .social-icons-item {
  display: flex;
  align-items: center;
}

.social-icons-set .icon-link {
  border-radius: 10px;
  display: inline-flex;
  border: 1px solid rgba(18, 20, 23, 0.1);
  padding: 7px;
  transition: border-color var(--transition-base);
}

.social-icons-set .icon {
  width: 28px;
  height: 28px;
  transition: fill var(--transition-base);
}

.social-icons-set .icon-link:hover {
  border: 1px solid rgba(77, 194, 116, 0.1);
  opacity: 0.8;
}

.social-icons-set .icon-link:hover .icon {
  fill: var(--primary-color);
}
