.our-students-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.our-students-list__item {
  border-radius: 30px;
  background: var(--primary-container-color);
  padding: 32px 16px 40px;
}

.our-students-list__item--container {
  display: flex;
  width: 100%;
  height: 78px;
  background: var(--primary-color);
  align-items: center;
  gap: 8px;
  border-radius: 15px;
  padding: 14px 0 14px 16px;
  margin-bottom: 32px;
}

.student-avatar {
  border-radius: 50%;
  overflow: hidden;
}

.student-info__name {
  color: var(--bg-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.4px;
}

.student-info__occupation {
  color: var(--bg-color-400);
  font-size: 12px;
  line-height: 1.33;
}

.our-students-list__item--text-wrapper {
  padding: 0 16px;
}

.our-students-list__item--text {
  color: var(--primary-text-color-500);
  font-size: 16px;
  line-height: 1.5;
  max-width: 256px;
}

@media screen and (min-width: 1280px) {
  .our-students-container {
    padding: 0 128px;
  }
}

@media screen and (max-width: 1280px) {
  .our-students-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .mobile-hidden:nth-child(3) {
    display: none;
  }
  .our-students-list__item--text {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 767px) {
  .our-students-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .our-students-list__item {
    border-radius: 16px;
    padding: 20px 20px 40px;
  }
  .our-students-list__item--container {
    border-radius: 8px;
    padding: 14px;
    margin-bottom: 20px;
  }
  .mobile-hidden:not(:first-child) {
    display: none;
  }
}