<section class="section">
  <div class="container">
    <h2 class="section-title">
      Meet our
      <load
        ="partials/highlighted_text.html"
        text="teachers"
      />
    </h2>

    <ul>
      <load
        ="partials/our_teachers/teacher_card.html"
        avatar="avatar"
        name="name"
        description="description"
        says="says"
      />
      <load
        ="partials/our_teachers/teacher_card.html"
        avatar="avatar"
        name="name"
        description="description"
        says="says"
      />
      <load
        ="partials/our_teachers/teacher_card.html"
        avatar="avatar"
        name="name"
        description="description"
        says="says"
      />
    </ul>
  </div>
</section>
