<section class="teacher section" id="teachers">
  <div class="container">
    <h2 class="section-title">
      Meet our <load ="partials/highlighted_text.html" text="teachers" />
    </h2>
    <p class="section-desc">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>
    <ul class="teachers_list">
      <li class="teachers_card">
        <img
          class="teachers_image"
          srcset="../../img/maria-2x.png 2x"
          src="../../img/maria-1x.png"
          alt="Maria"
          width="150"
          height="150"
        />
          <h3 class="teachers">Maria</h3>
          <p class="section-desc">
            A seasoned linguist and our primary specialist in beginner-level
            instruction, Maria brings warmth and patience to every class
          </p>
      </li>
      <li class="teachers_card">
        <img
          class="teachers_image"
          srcset="../../img/artem-2x.png 2x"
          src="../../img/artem-1x.png"
          alt="Artem"
          width="150"
          height="150"
        />
          <h3 class="teachers">Artem</h3>
          <p class="section-desc">
            With his innovative teaching techniques and a focus on interactive
            learning, Artem excels in keeping students engaged and motivated
          </p>
      </li>
      <li class="teachers_card">
        <img
          class="teachers_image"
          srcset="../../img/ilona-2x.png 2x"
          src="../../img/ilona-1x.png"
          alt="Ilona"
          width="150"
          height="150"
        />
          <h3 class="teachers">Ilona</h3>
          <p class="section-desc">
            A specialist in advanced English, Ilona provides intensive
            instruction, ensuring students gain confidence in complex language
            tasks
          </p>
      </li>
      <li class="teachers_card">
        <img
          class="teachers_image"
          srcset="../../img/volodymyr-2x.png 2x"
          src="../../img/volodymyr-1x.png"
          alt="Volodymyr"
          width="150"
          height="150"
        />
          <h3 class="teachers">Volodymyr</h3>
          <p class="section-desc">
            Our expert in English for specific purposes, Volodymyr tailors his
            approach to meet individual career and industry-specific language
            needs
          </p>
      </li>
    </ul>
  </div>
</section>